@import url('https://fonts.googleapis.com/css?family=Lemonada|Roboto');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  *font-family: 'Roboto', sans-serif;
  font-family: 'Lemonada', cursive;
}

body {
  background: #78a7be;
  background-image: url('../img/maiz.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.contenedor-menu {
  width: 1000px;
  height: 640px;
  display: flex;
  margin: auto;
  margin-top: 20px;
  perspective: 1500px;
}

.pagina-izquierda,
.pagina-central,
.pagina-derecha {
  padding: 10px;
  width: 100%;
  height: 100%;
  background: white;
}

.pagina-izquierda,
.pagina-central {
  background: #fcfcfc;
  background: -moz-linear-gradient(left, #fcfcfc 0%, #f6f6f6 0%, #ededed 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, #fcfcfc), color-stop(0%, #f6f6f6), color-stop(100%, #ededed));
  background: -webkit-linear-gradient(left, #fcfcfc 0%, #f6f6f6 0%, #ededed 100%);
  background: -o-linear-gradient(left, #fcfcfc 0%, #f6f6f6 0%, #ededed 100%);
  background: -ms-linear-gradient(left, #fcfcfc 0%, #f6f6f6 0%, #ededed 100%);
  background: linear-gradient(to right, #fcfcfc 0%, #f6f6f6 0%, #ededed 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#ededed', GradientType=1 );
}

.contenedor-lista {
  width: 100%;
  height: 100%;
}

.lista-uno,
.lista-dos,
.lista-tres {
  width: 100%;
  text-align: center;
  margin-top: 18px;
}

.lista-uno h1,
.lista-dos h1,
.lista-tres h1 {
  font-size: 20px;
  text-align: center;
  line-height: 25px;
}

.lista-uno img,
.lista-dos img,
.lista-tres img {
  width: 100px;
  height: 70px;
}

.lista-uno p,
.lista-dos p,
.lista-tres p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.lista-uno hr,
.lista-dos hr,
.lista-tres hr {
  width: 150px;
  height: 3px;
  margin: auto;
  border-style: none;
  background: -webkit-linear-gradient(left, red, blue, #23cbff);
  margin-top: 10px;
}

/* Aplicando efectos */

.pagina-izquierda {
  transform: rotateY(180deg);
  transition: all 1s;
  transform-origin: right;
  transform-style: preserve-3d;
  z-index: 10;
}

.pagina-izquierda2 {
  transform: rotateY(0deg);
}

.lado {
  backface-visibility: hidden;
}

.delante {
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  background: white;
  text-align: center;
  position: absolute;
  top: 0;
  left: -1px;
}

.delante img {
  width: 250px;
  margin: auto;
  margin-top: 30px;
  border-radius: 10%;
}

.delante h1 {
  font-size: 24px;
  text-align: center;
}

.delante hr {
  width: 200px;
  height: 3px;
  border-style: none;
  margin: auto;
  background: -webkit-linear-gradient(left, #f4e48a, #212120, #fa4632);
  margin-top: 10px;
}

.delante hr {
  font-weight: 100;
  margin-bottom: 20px;
}

.delante button {
  width: 200px;
  padding: 6px;
  font-size: 15px;
  font-weight: bold;
  background: orange;
  border-style: none;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
  transition: all 300ms;
  cursor: pointer;
}

.delante button:hover {
  transform: translateY(8px);
  box-shadow: 0px -5px 10px 0px #969696;
}

.delante h4 {
  margin-top: 10px
}

.delante p {
  margin-top: 10px
}

.delante ul {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.delante ul h5 {
  font-size: 16px;
}

.delante ul label {
  font-size: 14px;
  margin-top: 4px;
  margin-left: 10px;
}

/* Pagina derecha animación */

.pagina-derecha {
  transform: rotateY(-180deg);
  transform-origin: left;
  transition: 1s;
  transform-style: preserve-3d;
}

.pagina-derecha2 {
  transform: rotateY(0deg);
}

.lado-pagina-derecha {
  backface-visibility: hidden;

}

.pagina-derecha-atras {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotateY(180deg);
  border: 6px double #3f3f3f;
  border-right: none;
}

.btn-cerrar {
  position: absolute;
  top: -18px;
  right: -22px;
  width: 45px;
  height: 45px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 2.8;
  filter: blur(1px);
  transition: all 300ms;
  cursor: pointer;
}

.btn-cerrar:hover {
  filter: blur(0px);
}
